{% extends 'main/head.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
{% load static %}
<body>
    {% include 'main/header.html' %}
    {% include 'main/menu.html' %}
    
    <div class="login container">
        <div class="inner-login">
            <div class="login-logo">
                <a href=""><svg class="pre-logo-svg" height="60px" width="60px" fill="#111" viewBox="0 0 69 32"><path d="M68.56 4L18.4 25.36Q12.16 28 7.92 28q-4.8 0-6.96-3.36-1.36-2.16-.8-5.48t2.96-7.08q2-3.04 6.56-8-1.6 2.56-2.24 5.28-1.2 5.12 2.16 7.52Q11.2 18 14 18q2.24 0 5.04-.72z"></path></svg></a>
            </div>
            <h3>your account for everything nike</h3>
            <form class="login-form" action="" method="post">
                {% csrf_token %}
                <fieldset class="fieldset">
                    <input class="input" type="text" name="email" placeholder="Email address">
                </fieldset>
                <fieldset class="fieldset">
                    <input class="input" type="password" name="password" placeholder="Password">
                </fieldset>

                <div class="login-block">
                    <label for="" class="keepSignIn">
                        <input type="checkbox">
                        <span>keep me signed in</span>
                    </label>
                    <a href="/password-reset">forgot password?</a>
                </div>

                <div class="login-privacy">
                    <p class="register-privacy" style="color: red; font-size: 16px;">{{ err }}</p>

                <fieldset class="fieldset">
                    <button class="button" type="submit">Sign in</button>
                </fieldset>

                <div class="social">
                    <div class="google">
                        <a class="btn-social-auth" href='{% url "social:begin" "google-oauth2" %}'>
                            <i class="bi bi-google"></i>
                        </a> 
                    </div>
                    <div class="vk">
                        <a class="btn-social-auth" href='{% url "social:begin" "vk-oauth2" %}'>
                            VK
                        </a> 
                    </div>
                    <div class="github">
                        <a class="btn-social-auth" href="{% url 'social:begin' 'github' %}">
                            <i class="bi bi-github"></i>
                        </a> 
                    </div>
                </div>

                    <!-- <li class="google">
                        <a class="btn-social-auth" href='{% url "social:begin" "google-oauth2" %}'>
                        Sign in with   <i class="bi bi-google"></i>
                        </a> 
                    </li>

                    <li class="vk btn-social-auth">
                        <a class="btn-social-auth" href='{% url "social:begin" "vk-oauth2" %}'>
                        Sign in with VK
                        </a> 
                    </li>

                    <li class="github">
                        <a class="btn-social-auth" href="{% url 'social:begin' 'github' %}">
                        Sign in with   <i class="bi bi-github"></i>
                        </a> 
                    </li>
                </ul> -->

                <p class="login-member">Not a member? <a href="/registration/">Join us</a></p>
            </form>
        </div>
    </div>



    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}
