{% extends 'main/head.html' %}

{% block title %}
    Bucket
{% endblock title %}

{% block content %}
{% load static %}

<body>
    {% include 'main/header.html' %}

    {% include 'main/menu.html' %}

    <div class="conteiner-bucket">
        <div class="bucket">
            <div class="bag bucket-block">
                <h1>Bag</h1>

                <div class="items-bag">
                    {% for product in products %}
                        <div class="item-bag">
                            <div class="image-bag">
                                <img src="{% static 'main/images/' %}{{ product.product_id.image }}" width="150px">
                            </div>

                            <div class="content-bag">
                                <h2 class="name-item">
                                    {{ product.product_id.title_product }}
                                </h2>
                                <h3>
                                    {{ product.product_id.gender }} {{ product.product_id.category }}
                                </h3>
                                <h3>
                                    Black/Phantom/Black
                                </h3>
                                <h3>
                                    Quantity 

                                    <select id="quantity-bag">
                                        {% for i in list_quantity %}
                                            {% if product.quantity == i %}
                                                <option value="{{i}}" selected>{{i}}</option>
                                            {% else %}
                                                <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </h3>

                                <div class="bag-item-icons">
                                    {% if product.product_id in fav_products %}
                                        <a href="#" style="color:red"><i class="bi bi-suit-heart-fill"></i></a>
                                    {% else %}
                                        <a href="#"><i class="bi bi-suit-heart"></i></a>
                                    {% endif %}
                                    <a href="#"><i class="bi bi-trash3"></i></a>
                                </div>
                            </div>

                            <div class="price">
                                <h2>${{ product.product_id.price }}</h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="summary bucket-block">
                <h1>Summary</h1>

                <div class="content-summary">
                    <div>
                        <h2>Subtotal</h2>
                        <h2>${{ total }}</h2>
                    </div>
                    <div>
                        <h2>Estimated Shipping & Handling</h2>
                        <h2>-</h2>
                    </div>
                    <div>
                        <h2>Estimated Tax</h2>
                        <h2>-</h2>
                    </div>

                    <div class="total">
                        <h2>Total</h2>
                        <h2>${{ total }}</h2>
                    </div>

                    <button class="checkout">Checkout</button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-fav container recomend">
        <div class="fav-title">
            <h2 class="titleSection">You Might Also Like</h2>
        </div>
        {% for rec in list_recomend %}
            <div class="product-block recomend-block">
                <div class="product-item">
                    <a href="/shop/product/?id={{ rec.id }}"><img src="{% static 'main/images/' %}{{ rec.image }}" alt=""></a>
                    <h4 class="item-name">{{ rec.title_product }}</h4>
                    <p class="item-category">{{ rec.category }}</p>
                    <span class="item-price">${{ rec.price|floatformat:'-2'|slice:'5' }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}