{% extends 'main/head.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
{% load static %}
<body>
    {% include 'main/header.html' %}
    <div class="desktop-menu container">
        <div class="inner-menu">
            <div class="dekstop-menu-logo">
                <a href="/"><svg class="pre-logo-svg" height="60px" width="60px" fill="#111" viewBox="0 0 69 32"><path d="M68.56 4L18.4 25.36Q12.16 28 7.92 28q-4.8 0-6.96-3.36-1.36-2.16-.8-5.48t2.96-7.08q2-3.04 6.56-8-1.6 2.56-2.24 5.28-1.2 5.12 2.16 7.52Q11.2 18 14 18q2.24 0 5.04-.72z"></path></svg></a>
            </div>
            {% include 'main/header-link.html' %}
            <div class="dekstop-menu-block">      
                {% include 'main/search.html' %}
                <div class="dekstop-menu-icons">
                    <a href=""><svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M21.11 4a6.6 6.6 0 0 0-4.79-1.92A6.27 6.27 0 0 0 12 3.84 6.57 6.57 0 0 0 2.89 4c-2.8 2.68-2.45 7.3.88 10.76l6.84 6.63A2 2 0 0 0 12 22a2 2 0 0 0 1.37-.54l.2-.19.61-.57c.6-.57 1.42-1.37 2.49-2.41l2.44-2.39 1.09-1.07c3.38-3.55 3.8-8.1.91-10.83zm-2.35 9.4l-.25.24-.8.79-2.44 2.39c-1 1-1.84 1.79-2.44 2.36L12 20l-6.83-6.68c-2.56-2.66-2.86-6-.88-7.92a4.52 4.52 0 0 1 6.4 0l.09.08a2.12 2.12 0 0 1 .32.3l.9.94.9-.94.28-.27.11-.09a4.52 4.52 0 0 1 6.43 0c1.97 1.9 1.67 5.25-.96 7.98z"></path></svg></a>
                    <a href=""><svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M16 7a1 1 0 0 1-1-1V3H9v3a1 1 0 0 1-2 0V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v3a1 1 0 0 1-1 1z"></path><path d="M20 5H4a2 2 0 0 0-2 2v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a2 2 0 0 0-2-2zm0 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7h16z"></path></svg></a>
                </div>
            </div>    
        </div>
    </div>  
    <section class="salesForMember container">
        <div class="inner-salesForMember">
            <p>Member Exclusive | 20% Off Select Running Gear</p>
            <a href="">Log in and use code RUNFORALL20 at checkout</a>
        </div>
    </section>
    <div class="big-image container">
        <img src="{% static 'main/images/image-1.webp' %}" alt="">
        <div class="big-image-block">
            <h1>Megan thee stallion's hottiebootcamp</h1>
            <p>Unleash your inner Hottie with Meg in the NTC APP and shop her look.</p>
            <div class="big-image-item">
                <a href="shop.html">Shop her look</a>
                <a href="">Work Out with Meg</a>
            </div>
        </div>
    </div>
    <section class="featured container">
        <div class="inner-featured section-padding">
            <h3 class="titleSection">featured styles</h3>
            <div class="featured-block">
                <div class="featured-block-1">
                    <p class="featured-side-text">Tyler green, ultra trail pro and nike trail athlete <br> @narrowgreennarrow</p>
                    <div class="featured-item">
                        <p>nike react pegasus trail 4</p>
                        <h4>choose your adventure</h4>
                        <a href="shop.html" class="buttonShop">shop</a>
                    </div>
                </div>
                <div class="featured-block-2">
                    <p class="featured-side-text">@braylendion, Brooklyn</p>
                    <div class="featured-item">
                        <h4>get outside in new fits</h4>
                        <a href="shop.html" class="buttonShop">shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="everyone container">
        <div class="inner-everyone section-padding">
            <h3 class="titleSection">Icons for everyone</h3>
            <div class="everyone-block">
                <div class="everyone-left">
                    <img src="{% static 'main/images/everyone-left.webp' %}" alt="">
                    <div class="everyone-item">
                        <h4>Blazers</h4>
                        <a href="" class="buttonShop">Shop</a>
                    </div>
                </div>

                <div class="everyone-right">
                    <div class="right-top">
                        <img src="{% static 'main/images/everyone-rt.webp' %}" alt="">
                        <div class="everyone-item">
                            <h4>Air force 1</h4>
                            <a href="" class="buttonShop">Shop</a>
                        </div>
                    </div>
                    <div class="right-bottom">
                        <img src="{% static 'main/images/everyone-rightBut.webp' %}" alt="">
                        <div class="everyone-item">
                            <h4>Air max</h4>
                            <a href="" class="buttonShop">Shop</a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <section class="explore container">
        <div class="inner-explore section-padding">
            <h3 class="titleSection">More to explore</h3>
            <div class="explore-block">
                <img src="{% static 'main/images/explore-back.webp' %}" alt="">
                <div class="explore-text">
                    <h2>run for all</h2>
                    <p>
                        Four days of curated gear, guides, and tips to keep you running,
                        all in Nike App. Plus, right now members ger 20 % off select running styles.
                    </p>
                    <div class="explore-item">
                        <a href="" class="buttonShop">get the nike app</a>
                        <a href="" class="buttonShop">shop sale</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular container">
        <div class="inner-popular section-padding">
            <h3 class="titleSection">Popular right now</h3>
            <div class="popular-block">
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-1.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike waffle debut</p>
                        <span>$70</span>
                    </div>
                    <p class="popular-category">Men's shoes</p>
                </div>
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-2.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike dunk high up</p>
                        <span>$125</span>
                    </div>
                    <p class="popular-category">women's shoes</p>
                </div>
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-4.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike air max '97</p>
                        <span>$185</span>
                    </div>
                    <p class="popular-category">Men's shoes</p>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits container">
        <div class="inner-benefits section-padding">
            <h3 class="titleSection">Member benefits</h3>
            <img src="{% static 'main/images/benefits-back.webp' %}" alt="">
            <div class="benefits-text">
                <p>Things are better as a Nike Member. Get first and exclusive access to the newest styles & innovation, free shipping, birthday rewards and more.</p>
                <div class="benefits-buttons">
                    <a href="register.html">Join us</a>
                    <a href="login.html">Sign in</a>
                </div>
            </div>
        </div>
        <div class="benefits-bottom">
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-1.webp' %}" alt="">
                <h4>exclusive nike shopping perks</h4>
            </div>
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-2.webp' %}" alt="">
                <h4>first & exclusive access</h4>
            </div>
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-3.webp' %}" alt="">
                <h4>member rewards & offers</h4>
            </div>
        </div>
    </section>

    <section class="category container">
        <div class="inner-category section-padding">
            <div class="category-item">
                <p>featured</p>
                <a href="">air force 1</a>
                <a href="">jordan 1</a>
                <a href="">air max 2090</a>
                <a href="">air max 270</a>
            </div>
            <div class="category-item">
                <p>Shoes</p>
                <a href="">all shoes</a>
                <a href="">jordan shoes</a>
                <a href="">running shoes</a>
                <a href="">basketball shoes</a>
            </div>
            <div class="category-item">
                <p>Clothing</p>
                <a href="">all clothing</a>
                <a href="">tops & t-shirt</a>
                <a href="">shorts</a>
                <a href="">hoddies & pullovers</a>
            </div>
            <div class="category-item">
                <p>Kids'</p>
                <a href="">infant & toddler shoes</a>
                <a href="">kids' shoes</a>
                <a href="">kids' basketball shoes</a>
                <a href="">kids' running shoes</a>
            </div>
        </div>
    </section>
    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}