{% extends 'main/head.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
{% load static %}
<body>
    {% include 'main/header.html' %}
    {% include 'main/menu.html' %}
    <section class="salesForMember container">
        <div class="inner-salesForMember">
            <p>Member Exclusive | 20% Off Select Running Gear</p>
            <a href="">Log in and use code RUNFORALL20 at checkout</a>
        </div>
    </section>
    <div class="big-image container">
        <img src="{% static 'main/images/image-1.webp' %}" alt="">
        <div class="big-image-block">
            <h1>Megan thee stallion's hottiebootcamp</h1>
            <p>Unleash your inner Hottie with Meg in the NTC APP and shop her look.</p>
            <div class="big-image-item">
                <a href="shop.html">Shop her look</a>
                <a href="">Work Out with Meg</a>
            </div>
        </div>
    </div>
    <section class="featured container">
        <div class="inner-featured section-padding">
            <h3 class="titleSection">featured styles</h3>
            <div class="featured-block">
                <div class="featured-block-1">
                    <p class="featured-side-text">Tyler green, ultra trail pro and nike trail athlete <br> @narrowgreennarrow</p>
                    <div class="featured-item">
                        <p>nike react pegasus trail 4</p>
                        <h4>choose your adventure</h4>
                        <a href="shop.html" class="buttonShop">shop</a>
                    </div>
                </div>
                <div class="featured-block-2">
                    <p class="featured-side-text">@braylendion, Brooklyn</p>
                    <div class="featured-item">
                        <h4>get outside in new fits</h4>
                        <a href="shop.html" class="buttonShop">shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="everyone container">
        <div class="inner-everyone section-padding">
            <h3 class="titleSection">Icons for everyone</h3>
            <div class="everyone-block">
                <div class="everyone-left">
                    <img src="{% static 'main/images/everyone-left.webp' %}" alt="">
                    <div class="everyone-item">
                        <h4>Blazers</h4>
                        <a href="" class="buttonShop">Shop</a>
                    </div>
                </div>

                <div class="everyone-right">
                    <div class="right-top">
                        <img src="{% static 'main/images/everyone-rt.webp' %}" alt="">
                        <div class="everyone-item">
                            <h4>Air force 1</h4>
                            <a href="" class="buttonShop">Shop</a>
                        </div>
                    </div>
                    <div class="right-bottom">
                        <img src="{% static 'main/images/everyone-rightBut.webp' %}" alt="">
                        <div class="everyone-item">
                            <h4>Air max</h4>
                            <a href="" class="buttonShop">Shop</a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <section class="explore container">
        <div class="inner-explore section-padding">
            <h3 class="titleSection">More to explore</h3>
            <div class="explore-block">
                <img src="{% static 'main/images/explore-back.webp' %}" alt="">
                <div class="explore-text">
                    <h2>run for all</h2>
                    <p>
                        Four days of curated gear, guides, and tips to keep you running,
                        all in Nike App. Plus, right now members ger 20 % off select running styles.
                    </p>
                    <div class="explore-item">
                        <a href="" class="buttonShop">get the nike app</a>
                        <a href="" class="buttonShop">shop sale</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular container">
        <div class="inner-popular section-padding">
            <h3 class="titleSection">Popular right now</h3>
            <div class="popular-block">
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-1.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike waffle debut</p>
                        <span>$70</span>
                    </div>
                    <p class="popular-category">Men's shoes</p>
                </div>
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-2.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike dunk high up</p>
                        <span>$125</span>
                    </div>
                    <p class="popular-category">women's shoes</p>
                </div>
                <div class="popular-item">
                    <img src="{% static 'main/images/popular-4.webp' %}" alt="">
                    <div class="popular-price">
                        <p>Nike air max '97</p>
                        <span>$185</span>
                    </div>
                    <p class="popular-category">Men's shoes</p>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits container">
        <div class="inner-benefits section-padding">
            <h3 class="titleSection">Member benefits</h3>
            <img src="{% static 'main/images/benefits-back.webp' %}" alt="">
            <div class="benefits-text">
                <p>Things are better as a Nike Member. Get first and exclusive access to the newest styles & innovation, free shipping, birthday rewards and more.</p>
                <div class="benefits-buttons">
                    <a href="register.html">Join us</a>
                    <a href="login.html">Sign in</a>
                </div>
            </div>
        </div>
        <div class="benefits-bottom">
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-1.webp' %}" alt="">
                <h4>exclusive nike shopping perks</h4>
            </div>
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-2.webp' %}" alt="">
                <h4>first & exclusive access</h4>
            </div>
            <div class="benefits-item">
                <img src="{% static 'main/images/benefits-3.webp' %}" alt="">
                <h4>member rewards & offers</h4>
            </div>
        </div>
    </section>

    <section class="category container">
        <div class="inner-category section-padding">
            <div class="category-item">
                <p>featured</p>
                <a href="">air force 1</a>
                <a href="">jordan 1</a>
                <a href="">air max 2090</a>
                <a href="">air max 270</a>
            </div>
            <div class="category-item">
                <p>Shoes</p>
                <a href="">all shoes</a>
                <a href="">jordan shoes</a>
                <a href="">running shoes</a>
                <a href="">basketball shoes</a>
            </div>
            <div class="category-item">
                <p>Clothing</p>
                <a href="">all clothing</a>
                <a href="">tops & t-shirt</a>
                <a href="">shorts</a>
                <a href="">hoddies & pullovers</a>
            </div>
            <div class="category-item">
                <p>Kids'</p>
                <a href="">infant & toddler shoes</a>
                <a href="">kids' shoes</a>
                <a href="">kids' basketball shoes</a>
                <a href="">kids' running shoes</a>
            </div>
        </div>
    </section>
    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}