{% extends 'main/head.html' %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
{% load static %}

<body>
    {% include 'main/header.html' %}
    {% include 'main/menu.html' %}
    
    <div class="profile-title container">
        <div class="profile-img">
            <img src="{% static 'main/images/avatar-icon.png' %}" alt="">
        </div>
        <div class="profile-text">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <div class="profile-email-block">
                <p style="text-transform: none;">Почта: {{ user.email }}</p>
                <a href='change-email' class="profile-change-email-btn"><i class="bi bi-pencil-fill"></i></a>
            </div>
            <p style="text-transform: none;margin-top:10px">День рождения: {{ user.birth_day }}</p>
        </div>
    </div>
    <div class="profile-button container">
        <form action="logout/" method="post">
            {% csrf_token %}
            <button type="submit" class="newProdBtn"><i style='margin-right:10px' class="bi bi-box-arrow-left"></i> Выйти</button>
        </form>
    </div>

    <!-- <div class="profile-product container">
        <div class="product-title">
            <h2 class="titleSection">Your products</h2>
        </div>
        <div class="product-block">
            <div class="product-item">
                <img src="{% static 'main/images/item-image-1.webp' %}" alt="">
                <h4 class="item-name">nike air monarch IV</h4>
                <p class="item-category">Shoes</p>
                <span class="item-price">$49.97</span>
            </div>
        </div>
    </div> -->

    <div class="profile-fav container">
        <div class="fav-title">
            <h2 class="titleSection">Favorites</h2>
        </div>
        {% if fav %}
            <div class="fav-block">
                {% for f in fav %}
                    <div class="product-block">
                        <div class="product-item">
                            <a href="/shop/product/?id={{ f.product_id.id }}"><img src="{% static 'main/images/' %}{{ f.product_id.image }}" alt=""></a>
                            <h4 class="item-name">{{ f.product_id.title_product }}</h4>
                            <p class="item-category">{{ f.product_id.category }}</p>
                            <span class="item-price">${{ f.product_id.price|floatformat:'-2'|slice:'5' }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class='empty-fav-profile'>
                Empty
            </div>
        {% endif %}
    </div>
    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}