{% extends 'shop_nike/product-details.html' %}

{% block product %}
{% load static %}
<div class="detail-img">
    <img src="{% static 'main/images/' %}{{ prod.image }}" alt="">
</div>
<div class="detail-info">
    <h4 class="item-name">{{ prod.title_product }}</h4>
    <p class="item-category">{{ prod.category }}</p>
    <span class="item-price">${{ prod.price|floatformat:'-2'|slice:'5' }}</span>
    <p class="prodDesc">
        {{ prod.description }}
    </p>

    <form action="fav/" method="post">
        {% csrf_token %}
        <input name="product_id" type="hidden" value="{{ prod.id }}">
        <input name="user_id" type="hidden" value="{{ user.id }}">
        <button type="submit" class="product-btn-add-bag">
            Add to bag
        </button>
    </form>

    {% if not isFav %}
        <form action="fav/" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ prod.id }}">
            <input name="user_id" type="hidden" value="{{ user.id }}">
            <button type="submit" class="product-btn-fav">
                Favorite
                <i style="margin-left: 10px;" class="bi bi-heart"></i>
            </button>
        </form>
    {% else %}
        <form action="fav-del/" method="post">
            {% csrf_token %}
            <input type="hidden" name="fav_id" value="{{ fav_id }}">
            <input type="hidden" name="product_id" value="{{ prod.id }}">
            <button type="submit" class="product-btn-fav">
                Favorites
                <i style="margin-left: 10px; color:red;" class="bi bi-heart-fill"></i>
            </button>
        </form>
    {% endif %}
</div>
{% endblock product %}