{% extends 'main/head.html' %}

{% block title %}
    Nike
{% endblock title %}

{% block content %}
{% load static %}
<body>
    {% include 'main/header.html' %}
    {% include 'main/menu.html' %} 

    <div class="product-detail container">
        <div class="detail-block section-padding">
            {% block product %}
            {% endblock product %}
        </div>
    </div>

    <div class="profile-fav container recomend">
        <div class="fav-title">
            <h2 class="titleSection">You Might Also Like</h2>
        </div>
        {% for rec in list_recomend %}
            <div class="product-block recomend-block">
                <div class="product-item">
                    <a href="/shop/product/?id={{ rec.id }}"><img src="{% static 'main/images/' %}{{ rec.image }}" alt=""></a>
                    <h4 class="item-name">{{ rec.title_product }}</h4>
                    <p class="item-category">{{ rec.category }}</p>
                    <span class="item-price">${{ rec.price|floatformat:'-2'|slice:'5' }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'main/footer.html' %} 
</body>
</html>
{% endblock content %}
