{% extends 'main/head.html' %}

{% block title %}
    Shop
{% endblock title %}

{% block content %}
{% load static %}
<body>
    {% include 'main/header.html' %}
    {% include 'main/menu.html' %}

    <section class="page container">
        <div class="page-category">
            <div class="category-header">
                <h1>Category</h1>
            </div>
            <div class="category-list">
                <a href="{{ request.path }}?gender={{ gender }}&category=Shoes" class="list-item">Shoes</a>
                <a href="{{ request.path }}?gender={{ gender }}&category=Shirt" class="list-item">Tops & T-Shirts</a>
                <a href="{{ request.path }}?gender={{ gender }}&category=Shorts" class="list-item">Shorts</a>
                <a href="{{ request.path }}?gender={{ gender }}&category=Pants" class="list-item">Pants & Tights</a>
                <a href="{{ request.path }}?gender={{ gender }}&category=Jackets" class="list-item">Jackets & Vests</a>
            </div>
        </div>
        <div class="page-content">
            <div class="products">
                {% block shop_list %}
                {% endblock shop_list %}
            </div>
        </div>
    </section>





    {% include 'main/footer.html' %}
</body>
</html>
{% endblock content %}